.filterContainer {
  margin-top: 48px;

  max-width: 360px;
  color: var(--text-main-color);
  font-size: 20px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.locationContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.locationTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6c717b;
}

.iconSelectContainer {
  position: relative;
  width: 100%;
}

.mapIcon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  width: 20px;
  height: 20px;

  pointer-events: none;
}

.locationSelect {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 100%;
  height: 56px;

  border-radius: 12px;
  border: none;
  outline: none;

  background-color: #f7f7f7;

  padding: 0 46px 0 44px;

  font-size: 16px;
  color: var(--text-main-color);

  cursor: pointer;
}

.arrowDownIcon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);

  width: 26px;
  height: 26px;

  pointer-events: none;
}

.locationSelect option {
  font-size: 16px;
  color: var(--text-main-color);
  background-color: #fff;
}

.filtersText {
  margin-top: 40px;

  color: #475467;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;

  margin-bottom: 32px;
}

.filtersTitleText {
  position: relative;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;

  margin-bottom: 48px;
}

.filtersTitleText::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -24px;

  width: 100%;
  height: 1px;

  background-color: #dadde1;
}

.vechicleVariablesContainer {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-wrap: wrap;

  margin-bottom: 32px;
}

.filterButtons {
  width: calc((100% - (12px * 2)) / 3);
  height: 96px;
  padding: 4px;
  border: 1px solid #dadde1;
  border-radius: 12px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

.activeFilterButton {
  border: 1px solid var(--buttons-background);
}

.filterBtnIcons {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.microwaveIcon {
  fill: transparent;
  stroke: black;
}

.filterBtnText {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
}

.btnsContainer {
  width: 100%;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.btns {
  display: inline-block;

  border-radius: 200px;
  padding: 16px 40px;
  width: fit-content;
  height: 56px;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  /* transform: ; */
}

.searchBtn {
  background-color: var(--buttons-background);
  color: white;
}

.searchBtn:hover,
.searchBtn:focus {
  background-color: var(--active-page-color);
}

.resetBtn {
  background-color: #fff;
  color: var(--text-main-color);
  border: 1px solid #dadde1;
}

.resetBtn:hover,
.resetBtn:focus {
  border: 1px solid var(--active-page-color);
}
